html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#container{
    width: 50vw;
    margin: 0 auto;
}

header{
    text-align: center;
}

img {
  margin-bottom: 1em;
}

main section:first-child h1 {
    text-align: center;
}

#sfondo {
  color: #004d4b;
  background-color: #fdfbf1;
  border-top: solid #ffd777;
}

#sfondo p {
  text-align: center;
}

main {
  margin-top: 10vh;
}

#secondaImg {
  width: 50%;
}

figcaption {
  color: #999999;
}

#sezione {
  border-left: solid #ffd777;
}

#colore {
  color: #b5460f;
}

a {
  color: #107777;
}

hr{
    border-color: #C3F3F1;
}