html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

img {
  width: 15vw;
  margin-bottom: 1em;
}


#sfondo {
    color: #004D4B;
  background-color: #fdfbf1;
  border-top: solid #ffd777;
}

#sfondo p {
  text-align: center;
}

main{
    margin-top: 10vh;
}

#secondaImg{
    width: 50%;
}

figcaption{
    color: #999999;
}