html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  text-align: center;
}

img {
  width: 15vw;
  margin-bottom: 1em;
}

#sfondo {
  color: #004d4b;
  background-color: #fdfbf1;
  border-top: solid #ffd777;
}

#sfondo p {
  text-align: center;
}

main {
  margin-top: 10vh;
}

#secondaImg {
  width: 50%;
}

figcaption {
  color: #999999;
}

#sezione {
  border-left: solid #ffd777;
}

#colore {
  color: #b5460f;
}

#colorelink {
  color: #107777;
}

hr{
    border-color: #C3F3F1;
}